<br>

<div class="card card-inverse location-bar">
  <div class="card-block">
    <div class="row">
      <div class="col-md-4">
        <h6 class="card-title">Your location: {{placeAddress | async}}</h6>
        <div class="text-center">
          <img src="{{placeImageUrl | async}}" class="rounded" alt="{{placeAddress | async}}">
        </div>
      </div>
      <div class="col-md-2 hidden-sm-down">
        <div class="card card-inverse card-info mb-3 text-center">
          <div class="card-block search-button" (click)="ngOnInit()">
            <blockquote class="card-blockquote">
              <small>Show restaurants</small>
              <img src="assets/images/icon_placesapi.svg" class="rounded-circle search-img">
              <small>near you</small>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-2 hidden-sm-up">
        <br>
      </div>
      <div class="col-md-6 ">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<hr>

<h5 class="text-muted">Restaurants near you</h5>

<div class="card-deck">
  <div class="card card-inverse reataurants" *ngFor="let restaurant of restaurantList" (click)="openModal(restaurant)">
    <img class="card-img-top restaurant-image" src="{{ restaurant.photo ? restaurant.photo : '../../assets/images/restaurant-71.png'}}"
      alt="Restaurant Image">
    <div class="card-block">
      <h6 class="card-title">{{ restaurant.name }}</h6>
      <small class="card-text" ngbTooltip="Other people's experience">
        <ngb-rating [(rate)]="restaurant.rating" max="5" [readonly]=true *ngIf="restaurant.rating">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>  
        </ngb-rating>
        <span *ngIf="!restaurant.rating" class="badge badge-pill badge-warning">Rating Not Available</span>
    </small>
    </div>
    <div class="card-footer">
      <small class="text-muted">Open : <span *ngIf="restaurant.open !== null" class="badge badge-pill badge-{{ restaurant.open ?  'success' : 'danger'}}">{{restaurant.open ?  'Open' : 'Closed'}}</span>
      <span *ngIf="restaurant.open === null" class="badge badge-pill badge-warning">Not Available</span> </small> <br>
      <small class="text-muted">Call: <a href="tel:{{restaurant.phone}}" *ngIf="restaurant.phone">{{restaurant.phone}}</a> 
      <span *ngIf="!restaurant.phone" class="badge badge-pill badge-warning">Not Available</span>
      </small><br>
      <small class="text-muted" *ngIf="restaurant.url"><a href="{{restaurant.url}}" target="_blank"  rel="noopener" >Visit Website</a></small>
    </div>

  </div>
</div>
